//Poppins import from google API
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");

//Fonts
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$heading: $poppins;
$body: $roboto;

//Header
$height-header: 6.4rem;
$height-footer: 6.4rem;

//Aside
$width-aside: 200px;
