<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Tasty colors</title>
  </head>

  <body>
    <header>
      <h1 class="title">Tasty color</h1>
      <!-- <ul class="social">
        <li>github</li>
        <li>codepen</li>
        <li>linkedin</li>
      </ul> -->
    </header>
    <aside>
      <menu>
        <ul>
          <li><a href="#fruits">Fruits</a></li>
          <li><a href="#vegies">Vegies</a></li>
        </ul>
      </menu>
    </aside>
    <main>
      <div id="vue-app" class="wrapper">
        <h2 id="fruits">Fruits</h2>
        <div class="section">
          <div class="card" v-for="fruit in fruits">
            <div :style="{backgroundColor: fruit.colorHex}" class="card-body">
              <div class="card-footer"><p>{{ fruit.colorName }}</p></div>
            </div>
          </div>
        </div>
        <h2 id="vegies">Vegies</h2>
        <div class="section">
          <div class="card" v-for="vegie in vegies">
            <div :style="{backgroundColor: vegie.colorHex}" class="card-body">
              <div class="card-footer"><p>{{ vegie.colorName }}</p></div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; Maxime Daraize</p>
      </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
      var card_color = new Vue({
        el: "#vue-app",
        data: {
          fruits: [
            { colorName: "banana", colorHex: "#f4d560" },
            { colorName: "orange", colorHex: "#ef9439" },
            { colorName: "strawberry", colorHex: "#f9340e" },
            { colorName: "raspberry", colorHex: "#f0455e" },
            { colorName: "blackberry", colorHex: "#434554" },
            { colorName: "mango", colorHex: "#eda907" },
            { colorName: "red apple", colorHex: "#c53121" },
            { colorName: "green apple", colorHex: "#71ba07" },
            { colorName: "yellow apple", colorHex: "#fbd333" },
            { colorName: "cherry", colorHex: "#7f0006" },
            { colorName: "watermelon", colorHex: "#e96452" },
            { colorName: "coconut", colorHex: "#dddeda" },
            { colorName: "kiwi", colorHex: "#a3c24a" }
          ],
          vegies: [
            { colorName: "carrot", colorHex: "#EE680C" },
            { colorName: "eggplant", colorHex: "#361F32" }
          ]
        }
      });
    </script>
  </body>
</html>
